<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You've received a new message from: <%= @message.name %></p>

    <p>Email: <%= @message.email %></p>

    <p>Subject: <%= @message.subject %></p>

    <p>Message: <%= @message.body %></p>

  </body>
</html>