<div class="container clearfix">

  <!-- Page Title -->
  <div class="sixteen columns"> 
  	<h1 class="page-title">About Us <span class="line"></span></h1> 
  </div> 
  
    <div id="description">
      <div class="sixteen columns">
        <div class="description">
	        <p>
	          Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Cum sociis.
	        </p>
        </div>
      </div>
    </div><!-- End description -->
    
    <div class="two-thirds column">
      <div class="who">
        <h2 class="title">Who We Are? <span class="line"></span></h2>
	        <p>
	          Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi.Aliquam at erat in          purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh.          Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. 
	          <br /><br />
	          malesuada tortor, nec scelerisque lorem mattis.
	          Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer          commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum. 
	        </p>
        <br /><br />
      </div>
    </div><!-- End who we are -->
    
    <div class="one-third column">
      <div class="bottom">
        <h2 class="title">Our Skills <span class="line"></span></h2>
	        <ul class="progress-bar">
	          <li>
	            <h5>Web Design ( 40% )</h5>
	            <div class="meter"><span style="width: 40%"></span></div><!-- Edit width here -->
	          </li>
	          <li>
	            <h5>Wordpress ( 80% )</h5>
	            <div class="meter"><span style="width: 80%"></span></div><!-- Edit width here -->
	          </li>
	          <li>
	            <h5>Branding ( 100% )</h5>
	            <div class="meter"><span style="width: 100%"></span></div><!-- Edit width here -->
	          </li>
	          <li>
	            <h5>SEO Optmization ( 60% )</h5>
	            <div class="meter"><span style="width: 60%"></span></div><!-- Edit width here -->
	          </li>
	        </ul>
      </div>
    </div><!-- End skills -->
    
    <div class="clearfix"></div>
  
    <div class="meet-team">
      <div class="sixteen columns">
        <h2 class="title">Meet The Team <span class="line"></span></h2>
	        <p>
	          Sed at odio ut arcu fringilla dictum eu eu nisl. Donec rutrum erat non arcu gravida porttitor. Nunc et magna nisi.Aliquam at erat in          purus aliquet mollis. Fusce elementum velit vel dolor iaculis egestas. Maecenas ut nulla quis eros scelerisque posuere vel vitae nibh.          Proin id condimentum sem. Morbi vitae dui in magna vestibulum suscipit vitae vel nunc. Integer ut risus nulla. malesuada tortor, nec          scelerisque lorem mattis.
	        </p>
        </div>
        
        <div class="clearfix"></div>
        
        <ul class="team">
          
          <!-- First Person on Team -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Mohammed Saad
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
          <!-- Second Person on Team -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Mohammed Saad
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
          <!-- Third Person on Team -->
          <li class="one-third column">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Mohammed Saad
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Sed at odio ut arcu fringilla dictum  magna nisi.Aliquam at erat in purus  velit vel dolo dictum  magna nisi.Aliquam 
              at erat in purus  velit vel dolo 
            </p>
          </li>
          <!-- End -->
          
        </ul><!-- End team -->
      </div><!-- End 16 columns --> 
    </div><!-- End meet team -->
  </div> 
</div><!-- <<< End Container >>> -->