<div class="container clearfix">

  <!-- Page Title -->
  <div class="sixteen columns"> 
  	<h1 class="page-title">About Us <span class="line"></span></h1> 
  </div> 
  
    <div id="description">
      <div class="sixteen columns">
        <div class="description">
	        <p>
	          Here at Nobles & Yanez, we have created and continue to build a top notch private law firm that will provide clients with unique and exceptional legal representation.
	        </p>
        </div>
      </div>
    </div><!-- End description -->
    
    <div class="sixteen columns">
      <div class="who">
        <h2 class="title">Who We Are? <span class="line"></span></h2>
	        <p>
	          Nobles & Yanez is a law firm compromised of two local attorneys who were raised in Las Vegas and understand our community’s citizens and values. With a combined prior experience of 20 years as criminal and civil defense attorneys, Nobles & Yanez have represented thousands of clients in diverse legal matters.  Ranging from basic traffic misdemeanors all the way up to and including sex assaults and murders, Nobles & Yanez have the skills and experience to comfortably handle your matters. Nobles & Yanez have completed a combined 40+ jury trials and argued several cases before the Nevada Supreme Court, so they are well versed in all courtrooms. 
          </p>

          <p>
            Being intimately familiar with the entire process of a criminal case, Nobles & Yanez provide zealous and quality representation at all stages of the criminal process.  Specifically, we provide the necessary criminal investigations, trial work, sentencing preparation, and overall effective representation that every client deserves and needs. 
          </p>

          <p>
            With years of experience in civil litigation matters, Nobles & Yanez are no strangers to the civil arena. Having represented numerous civil clients in the insurance defense industry, Nobles & Yanez can and will zealously represent our client’s best interests. 
          </p>

          <p>
            For our Hispanic clients, Nobles & Yanez is comprised in part of a Hispanic attorney who is fluent in the Spanish language, so when you call and need assistance with Spanish you can talk directly with an attorney who actually speaks Spanish. 
          </p>
        <br /><br />
      </div>
    </div><!-- End who we are -->
    
    
    <div class="clearfix"></div>
  
    <div class="meet-team">
      <div class="sixteen columns">
        <h2 class="title">Meet The Team <span class="line"></span></h2>
      </div>
        
        <div class="clearfix"></div>
        
        <ul class="team">
          
          <!-- First Person on Team -->
          <li class="eight columns">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Dewayne Nobles
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              Dewayne has been a resident of our local community for the past 26 years, having
settled in Las Vegas in 1986 when his father, a member of the Air Force, was stationed at
Nellis AFB. Dewayne attended Eldorado High School and graduated with honors. 
Dewayne then attended Brigham Young University on an academic scholarship and was 
invited to “walk-on” to the nationally ranked Cougar football team. After playing football
for two years, Dewayne decided to dedicate more time to his academics and the 
community. Dewayne was a member of the Black Student Union at the school, which 
enabled him to participate in many worthwhile endeavors involving the local community.
Dewayne graduated from Brigham Young University with a Bachelor of Science degree 
in Sociology. Dewayne then enrolled in law school at Brigham Young University, 
looking forward to embracing the academic challenges it presented. During his law 
school career, Dewayne was a key member of both the Minority Law Student Association
and the Native American Law Student Association. Both organizations allowed him to 
continue serving the local community through various projects and clinics.
            </p>
            <p>
              After graduating from law school with a Juris Doctorate degree, Dewayne 
returned to Las Vegas to begin his law career and start his family. Dewayne was 
fortunate enough to land a coveted federal clerkship with United States Magistrate Judge 
Robert J. Johnston. Due to his hard work and dedication in the law field, Dewayne was 
offered another clerkship with United States District Judge Roger L. Hunt. After 
completing these prestigious clerkships, Dewayne embarked on his legal career, with 
stops at a multi-state construction defects law firm and a local boutique law firm. 
However, Dewayne truly found his passion in criminal defense work at the Clark County 
Public Defender’s Office, where he worked for 8 years.
            </p>
            <p>
              While enjoying his work, Dewayne still has found time to be involved with his 
community and family. He has participated in the PAYBAC speaking series promoted by
the Clark County School District, wherein he would discuss with school children the 
practice of law. He has also volunteered his time to speak at various Law Day related 
functions with school kids. With his love of sports, Dewayne volunteered to coach the 
DYS youth football and soccer teams in his community. Dewayne was also a board 
member for the inaugural season of the ELITE youth football program, which is a nonprofit football organization dedicated to helping youths in our community both on and off
the field. Dewayne is married to his lovely wife Renee and they have 3 beautiful kids. 
            </p>
          </li>
          <!-- End -->
          
          <!-- Second Person on Team -->
          <li class="eight columns">
            <img src="images/img/team/member-1.jpg" alt="" />
            <h3>
              Abel Yanez
              <a href="#" class="linkedin">linkedin</a>
              <a href="#" class="skype">skype</a>
              <a href="#" class="facebook">facebook</a>
              <a href="#" class="twitter">twitter</a>
            </h3>
            <p>
              I am a first generation American.  My parents were born and raised in Argentina so I have spoken Spanish since I first learned to speak.  I graduated from Clark High School and received my bachelor's degree from the University of Las Vegas, Nevada.  After graduating from UNLV, I received my law degree from California Western School of Law in San Diego, California.  During law school I was a member of the Law Review and elected as the Executive Editor of the International Law Journal.  I graduated law school magna cum laude and in the top 4% of my class.  I received the Am Jur Award for receiving the highest grade in my class for Criminal Procedure, Civil Procedure II, and Comparative Law. 
            </p>
            <p>
              After graduating law school I took and passed the Nevada and California Bar examinations.  Upon receiving my law license, I began working at Alverson, Taylor, Mortensen & Sanders, a civil litigation law firm in Las Vegas.  As an associate attorney I defended medical doctors and dentists in medical malpractice cases, manufacturers in products liability cases, and numerous diverse companies in personal injury cases.  After a year and a half at Alverson & Taylor, I joined the Clark County Public Defender's Office and spent twelve years representing thousands of indigent defendants in diverse criminal matters.  My first two years at the Public Defender’s Office were spent working in the Juvenile Division.  I handled thousands of juvenile delinquency cases, including contested hearings and adult certifications.  I argued a juvenile appeal before the Nevada Supreme Court, which resulted in a published opinion and victory for my client: In re T.R., 119 Nev. 646 (2003).
            </p>
            <p>
              After two years in the Juvenile Division, I transferred to the adult office of the Public Defender’s Office and spent the next year two years handling felony, gross misdemeanor, and misdemeanor cases.  Thereafter, I was assigned to the sexual assault team where I spent five years handling life sentence cases of sexual assault and lewdness with a child.  My last three years at the Public Defender's Office I worked exclusively handling murder and death penalty cases.  Although my time at the Public Defender's Office was very rewarding, my desire to create and build a top notch private law firm that could provide clients with unique and exceptional legal representation led me to establish the Nobles & Yanez Law Firm.
            </p>
            <p>
              Based on my diverse and extensive criminal and civil litigation experience, there are almost no type of cases that I have not personally handled.
            </p>
          </li>
          <!-- End -->
          
          
        </ul><!-- End team -->
      </div><!-- End 16 columns --> 
    </div><!-- End meet team -->
  </div> 
</div><!-- <<< End Container >>> -->