<div class="container clearfix">

 <div class="sixteen columns"> <h1 class="page-title">Contact Us<span class="line"></span></h1>
 </div><!-- Page Title -->
 
 
 <div id="description">
    <div class="sixteen columns">
      <div class="description top-3 bottom-2">
      <p>
        Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Cum sociis.
      </p>
      </div>
    </div>
  </div><!-- End description -->
 
 
 <div class="sixteen columns"> <h2 class="title">Our Location<span class="line"></span></h2></div>
 
 <!-- google map -->
 
 <div class="sixteen columns google-map top-2">
 
<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=Tanta,+Egypt&amp;daddr=&amp;hl=en&amp;geocode=Fc3D1QEdOAfZASk18PyqXcn3FDFCroxeDIIhdA&amp;sll=30.786509,31.000376&amp;sspn=0.001307,0.002642&amp;doflg=ptk&amp;mra=ls&amp;ie=UTF8&amp;t=m&amp;ll=30.786509,31.000376&amp;spn=0.001307,0.002642&amp;output=embed"></iframe>
 
 </div>
 
 <!-- End -->
 
 
 <!-- Start Contact Form -->
 <div class="eleven columns  bottom">    
    
    <h2 class="title">Keep in Touch<span class="line"></span></h4>
    
    <div class="form">
    
    <div id="note"></div><!-- End notification -->
    
    <div id="fields">
    
    <form id="ajax-contact-form" action="">
    
    <div class="form-box">
      <label>Name <small>(required)</small></label>
      <input type="text" name="name" class="text">
    </div><!-- End Box -->
    
    <div class="form-box">
      <label>Email <small>(required)</small></label>
      <input type="text" name="email" class="text">
    </div><!-- End Box -->
    
    <div class="form-box last">
      <label>Subject </label>
      <input type="text" name="subject" class="text">
    </div><!-- End Box -->
    
    <div class="form-box big">
      <label>Message <small>(required)</small> </label>
      <textarea name="message"></textarea>
    </div><!-- End Box -->
    
    <div class="clearfix"></div>
    
    <input type="submit" name="submit" value="Send Message" class="button medium color" />
    
    </form>
    
    </div><!-- End fields -->
    
    </div>
    
    <!-- End contact form -->
    
 </div><!-- End column -->  
 
 
 <!-- Start Sidebar Widgets -->
 <div class="five columns bottom">
 
   <!-- Contact Details -->
   <h2 class="title bottom-2">Contact Details<span class="line"></span></h2>
   
     <ul class="details top-3 bottom-2">
       <li><span class="google_maps icon black"></span><p>30 Tanta City, EGYpT</p></li>
       <li><span class="phone icon black"></span><p>(002) 560-655-995</p></li>
       <li><span class="e-mail icon black"></span><p><a href="#"><span class="color">info@website.com</span></a></p></li>
       <li><span class="globe icon black"></span><p><a href="#"><span class="color">www.website.com</span></a></p></li>
     </ul>
    
    <div class="clearfix"></div>
   
    <!-- Contact Details -->
   <h2 class="title bottom-2">Socail Contact<span class="line"></span></h2>
   
     <ul class="followers">
      <li>
      <a href="#" data="facbook" class="black colorTipContainer"><span class="social-icon facbook color"></span></a>
      </li>
      <li>
      <a href="#" data="twitter" class="black colorTipContainer"><span class="social-icon twitter color"></span></a>
      </li>
      <li>
      <a href="#" data="google+" class="black colorTipContainer"><span class="social-icon google_plus  color"></span></a>
      </li>
      <li>
      <a href="#" data="Rss" class="black colorTipContainer"><span class="social-icon rss color"></span></a> 
      </li>
      </ul>
 
 </div><!-- End Sidebar Widgets -->
 
 
 <div class="clearfix"></div>
   
   
   
       
     
  </div><!-- <<< End Container >>> -->
