<footer>
  <div class="container">
  
    <div class="six columns">
      <div class="about">
        <h3 class="title">About Us<span class="line"></span></h3>
        <p>
        Consectetur adipiscing elit aeneane lorem lipsum, condimentum ultrices consequat eu, vehicula mauris lipsum adipiscing 
        lipsum aenean orci lorem Asequat. <br /> lorem ipsum dolor lorem sit amet, consectetur adipiscing dolor .
        </p>
      </div>
    </div><!-- End about -->
    
    <div class="six columns">
      <div class="tweets">
        <h3 class="title">Contact Info<span class="line"></span></h3>
          <ul class="details top-3 bottom-2">
            <li>324 S. Third, St. Suite 2</li>
            <li>P: (702) 641-6001</li>
            <li>F: (702) 641-6002</li>
            <li>admin@noblesyanezlaw.com</li>
          </ul>
      </div>
    </div><!-- End tweets -->
    
    <div class="four columns">
      <div class="subscribe">
        <h3 class="title">Contact Us<span class="line"></span></h3>
        <p>Take a second and give us a call or send us an email.</p>
        <%= link_to "Contact Us", contact_path, class: "button medium color" %>
      </div>
    </div><!-- End subscribe -->
    
    <div class="sixteen columns"><hr class="bottom" /></div>
    
    <div class="eight columns"><span class="copyright">
    © Copyright 2012 Nobles and Yanez. All Rights Reserved.</span></div>
    
    <div class="eight columns">
      <div class="social">
        <a href="#"><%= image_tag "twitter.png" %></a>
        <a href="#"><%= image_tag "facebook.png" %></a>
      </div>
    </div>
  
  </div><!-- End container -->
</footer><!-- <<< End Footer >>> -->